doctype html
html(lang='en')
  head
    include includes/head.pug
  body.page(cz-shortcut-listen='true')
    //- Variables block
    block global_variables

    main
      block content
    
    script(src='https://framework-gb.cdn.gob.mx/gobmx.js')

    if index
      include includes/index-scripts.pug