//- app/pug/views/me.pug

extends ../layout.pug

block content
  h1 Hello Mee #{yoo}
  if production
    span Producción
    each val in sources
      span= val.basename + val.extname
    each val in cssstyles
      span= val.basename + val.extname
  else
    span Desarrollo